<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geomatics in practice (GEO5016)</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <style>
      body.dark {
        --font-color: #481dc9;
        --color-grey: #ccc;
        --color-darkGrey: #777;
      }
      .container {
        max-width: 800px; /* adjust this as desired */
        margin-left: auto;
        margin-right: auto;
      }

      /*@media (min-width: 800px) {
        .container {
          margin-left: 8vw;
          margin-right: 8vw;
        }
      }*/
    </style>
  </head>

  <body id="top">
    <div class="container">
      <section id="all">{{ content}}</section>
    </div>
  </body>
</html>
